{% extends "funds/base.html" %}

{% block content %}
<h3>Overall Report</h3>
<h6>Fund Balance: {{fund_balance}}</h6>
<div>
    <table id="report-table" class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Account Number</th>
        <th scope="col">Particpant Name</th>
        <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
    {% for p in data %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{p.account_num}}</td>
        <td><a href="{% url 'funds:participant' p.id %}">{{p.fullname}}<a></td>
        <td>{{p.balance}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
        $('#report-table').DataTable();
    } );
</script>

{% endblock %}
